<!-- header -->
<div class="header" style="width:50%; margin:0 auto;">
	<div class="container">
		<div class=".col-md-12">
			<a href=<%= root_path %>><%= image_tag 'logo.png' %></a>
		</div>
	</div>
</div>
<!-- //header -->

