<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("470223858.jpg") %>
      <div class="caption">
        <h3>Donald Trump Election 2016</h3>
        <p>The U.S presidency 2016</p>
        <p><a href="projects/4" class="btn btn-primary" role="button">Contribute</a> <a href="projects/4" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("water.jpg") %>
      <div class="caption">
        <h3>Middle East Water Supply</h3>
        <p>afghanistan</p>
        <p><a href="projects/10" class="btn btn-primary" role="button">Contribute</a> <a href="projects/10" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("tibet.jpg") %>
      <div class="caption">
        <h3>China Western Voluntary Teacher</h3>
        <p>Tibet</p>
        <p><a href="projects/11" class="btn btn-primary" role="button">Contribute</a> <a href="projects/11" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>