// Place all the styles related to the Project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  text-overflow: ellipsis;
  overflow: hidden;
}

div#cover {
  width: 100%;
  height: 650px;
}

div#title {
  padding-top: 150px;

  h1 {
    margin: 0;
    text-align: center;
    font-size: 6em;
  }
}

div#cover-explore-btn {
  text-align: center;
  width: 100%;
  input {
    margin-top: 50px;
    font-size: 2em;
    width: 200px;
    height: 60px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
}

body {
  font-family: 'Roboto'
}

.inline {
  display: inline-block;
}

.project-card {
  font-size: 0;

  .inline {
    margin: 5px 5px 5px 0;
    padding: 0 5px;
    vertical-align: top;
    display: inline-block;
    width: 110px;
    height: 110px;
    font-size: 14px;
    background-color: #F8F8F8;
  }

  .card-large {
    color: #660000;
    font-size: 30px;
  }

  .card-closed {
    color: #660000;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 40px;
    text-align: center;
  }
}

.progress {
  margin-top: 20px;
}

.project-item-wrapper {
  padding: 3px !important;
}

.project-item {
  .caption {
    color: #666666 !important;
  }
}

.project-item:hover {
  border: 1px solid #888888;
  cursor: pointer;
  background-color: #F8F8F8;
  .caption {
    color: #000000 !important;
  }
}

.project-item-date {
  font-style: italic;
  font-size: 11px;
}

.project-item-button {
  margin: 5px 0 5px 0;
}

div.project-list-title {
  a {
      display: block;
      overflow: hidden;
      font-size: 30px;
      max-width: 100%;
  }
}

div.operation-groups {
  margin: 10px 0;
}

.important {
  font-weight: bold;
}

div.sidebar {
  font-size: 14px;

  .project-description {
    width: 100%;
  }
}

form.new_funding {
  font-size: 0;
  margin-top: 10px;

  li, span.error {
    font-size: 14px;
  }
}

ul {
    list-style-type: none;
}

.alert {
  padding: 10px !important;
}

ul.funding-errors {
  margin-bottom: 5px !important;
}